p {
    font-family: Lato;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-row {
      min-height: 36px;
  }
  .mat-row {
      min-height: 36px;
  }
  
      mwlResizable {
          box-sizing: border-box; 
      }
  
        mat-cell,
      mat-footer-cell,
      mat-header-cell {
          width: 200px;
          word-break: break-all;
          flex: none;
          display: block;
      }
      mat-header-cell {
          border-left: 1px solid #eee;
          background-color:dodgerblue;
      }
  
      .mat-header-cell {
  
          padding-left: 12px;
          padding-right: 12px;
          line-height: 46px;
  
      }
  
          .mat-sort-header-button {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
          }
      
      .mat-cell {
          padding-left: 12px;
          padding-right: 12px;
          border-left: 1px solid #eee;
      }
  
      .mat-cell {
          display: inline-block;
          vertical-align: middle;
          line-height: 2.6em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  